@import "src/css/variables";

.calculator {
  padding-bottom: 110px;

  form {
    background: #fff;
    margin: 0 15px;
    border-radius: $borderRadius;
    padding: 25px 0 15px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05));

    .ant-select{
      width: 100%;

      .ant-select-selector{
        height: 52px;
        display: flex;
        align-items: center;
        border-radius: 12px;
        margin-top: 8px;
        background: $grey;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
      }
    }

    .params{
      padding: 0 15px;

      .param_name{
        display: flex;
        align-items: center;
        font-weight: $fontWeight;
        line-height: 16px;

        svg{
          width: 20px;
          height: 20px;
          fill: $iconColor;
          margin-right: 10px;
        }

        span{
          margin-left: auto;
          font-weight: normal;
        }

        .month-payment{
          margin-left: auto;
          font-weight: $fontWeight;
          color: $mainColor;
          font-size: 16px;
        }
      }

      .param_name{
        margin-top: 16px;
      }

      .month {
        margin: 16px 0;

        .ant-radio-group{
          display: flex;
          align-items: center;
        }

        .ant-radio-button-wrapper {
          border: 0.5px solid rgba(0, 0, 0, 0.08);
          background: #fbfbfb;
          width: 100%;
          display: flex;
          font-size: 15px;
          padding: 0;
          border-radius: 8px;
          height: 40px;
          border-left-width: 1px;

          span:last-child {
            margin: auto;
          }
        }

        .ant-radio-button-wrapper:nth-child(1) {
          margin-right: 4px;
        }

        .ant-radio-button-wrapper:nth-child(2) {
          margin: 0 4px;
        }

        .ant-radio-button-wrapper:nth-child(3) {
          margin: 0 8px 0 4px;
        }
      }
    }

    .ant-col, .ant-form-item-control-input {
      position: static;
    }

    h3{
      margin-bottom: 12px;
      padding: 0 15px;
      font-weight: $fontWeight;
      font-size: 1.25rem;
      color: $mainColor;
    }

    .typePayment {
      margin: 30px 0 6px;
      padding: 0 15px;

      .param_name {
        display: flex;
        align-items: center;
        font-weight: $fontWeight;

        svg{
          width: 20px;
          height: 20px;
          fill: $iconColor;
          margin-right: 10px;
        }
      }
    }

    .offer {
      padding: 10px 15px 0;
      margin-bottom: 6px;

      label{
        font-size: 12px;
      }
    }

    .ant-checkbox-inner {
      border: 1px solid #333333;
      border-radius: 4px;
    }

    .ant-checkbox-checked .ant-checkbox-inner::after {
      border: 2px solid $mainColor;
      border-top: 0;
      border-left: 0;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: transparent;
      border-color: #333333;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: #333333;
    }

    .ant-checkbox-checked::after {
      border: none;
    }

    .ant-form-item-control-input {
      min-height: unset;
    }
  }
}

.modalAnnuity {
  height: 100%;
  top: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;

  .ant-modal-close{
    display: none;
  }

  .ant-modal-content {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .ant-modal-body{
    padding: 6px 15px 15px;

    .ant-radio-group{
      width: 100%;

      label{
        margin-right: 0;
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 16px;

        span:last-child{
          order: 1;
        }

        span:first-child{
          order: 2;
          margin-left: auto;
        }
      }
    }
  }

  .ant-modal-header{
    border-bottom: 0;
    padding: 15px 15px 4px;

    .ant-modal-title{
      font-weight: $fontWeight;
      font-size: 20px;
    }
  }

  .ant-radio-inner::after {
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: $mainColor;
  }

  .ant-radio-inner::after{
    background: $mainColor;
  }

  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: $mainColor;
  }

  .ant-modal-footer{
    padding: 15px 15px 30px;
    border: 0;

    .next-btn{
      margin: 0;
      position: static;
      width: 100%;
      height: 40px;
    }
  }
}