// font sizes
$defaultFontSize: .875rem;
$titleSize: 1.125rem;

// font weights
$fontWeight: 700;

// colors
$mainColor: #62CB8C;
$grey: #F6F6F6;
$iconColor: #FADF87;

// another
$borderRadius: 12px;
