// font sizes
$defaultFontSize: .875rem;
$titleSize: 1.25rem;

// font weights
$fontWeight: 700;

// colors
$mainColor: #006F44;
$grey: #F6F6F6;
$iconColor: #DDCE9E;
$gradient: linear-gradient(309.22deg, #006F44 -38.47%, #539E81 127.21%);

// another
$middleRadius: 8px;
$borderRadius: 12px;
