@import "src/css/variables";

.thanks{
  min-height: unset !important;

  .calculator{
    padding-top: 0;
    height: 100%;
    display: flex;

    .successRequest{
      text-align: center;
      margin: auto;
    }
  }
}

.creditCalculator {
  min-height: 694px;
  //min-height: 630px;
  height: 100%;
  position: relative;

  .head {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 $borderRadius $borderRadius;
    z-index: 9;
    top: 0;

    h4 {
      font-weight: $fontWeight;
      font-size: $titleSize;
      margin-bottom: 0;
    }

    button {
      border: 0;
      box-shadow: none;
      display: flex;
      align-items: center;
      height: 18px;
      width: 18px;
      margin-right: 24px;

      svg {
        fill: $mainColor;
        height: 18px;
        width: 18px;
      }
    }
  }

  .content {
    padding-top: 76px;

    .inner{
      background: #fff;
      margin: 0 16px;
      border-radius: $borderRadius;
      padding: 0 0 16px;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05));
    }

    h3 {
      margin-bottom: 0;
      padding: 32px 16px 24px;
      font-weight: $fontWeight;
      font-size: 1.25rem;
      color: $mainColor;
    }

    .conditions {

      .item {
        padding: 6px 16px;
        margin-bottom: 6px;

        div {
          margin-top: 8px;
          display: flex;
          align-items: center;

          svg {
            width: 20px;
            height: 20px;
            fill: $iconColor;
            margin-right: 10px;
          }
        }

        span:first-child {
          font-weight: $fontWeight;
        }
      }

      .attention svg{
        width: 36px !important;
      }

      .item:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.calculatorVisible{
  min-height: 694px;
}

